## Problem 1: Unique Words in a Sentence

In [1]:

class UniqueWords:
    def find_unique(self, sentence):
        words = sentence.split()          # Split sentence into words
        unique_words = set(words)         # Remove duplicates
        print("Unique words count:", len(unique_words))
        print("Unique words:", unique_words)


# Taking user input
sentence = input("Enter sentence: ")

obj = UniqueWords()
obj.find_unique(sentence)

Enter sentence: how are you you are me fine
Unique words count: 5
Unique words: {'me', 'fine', 'how', 'are', 'you'}

## Problem 2: Highest Salary from Employee Data

In [4]:
# Taking dictionary input from user

n = int(input("Enter number of employees: "))
employees = {}

for i in range(n):
    name = input("Enter employee name: ")
    salary = int(input("Enter salary: "))
    employees[name] = salary

# Initialize using first employee
names = list(employees.keys())
highest_employee = names[0]
highest_salary = employees[highest_employee]

# Compare salaries
for name in employees:
    if employees[name] > highest_salary:
        highest_salary = employees[name]
        highest_employee = name

# Exact expected output format
print("Highest Salary:", highest_employee, "-", highest_salary)

Enter number of employees: 3
Enter employee name: ankita
Enter salary: 30000
Enter employee name: shruti
Enter salary: 25000
Enter employee name: c
Enter salary: 89000
Highest Salary: c - 89000

## Find Maximum and Minimum Values

In [6]:
# Taking list input from user (comma separated)
numbers = input("Enter numbers separated by comma: ").split(",")

# Converting each value to integer
numbers = [int(num) for num in numbers]

# Initialize max and min with first element
maximum = numbers[0]
minimum = numbers[0]

# Compare each element
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

Enter numbers separated by comma: 23,46,49
List: [23, 46, 49]
Max: 49
Min: 23

## 4. Count Products Above a Price Threshold

In [7]:
# Taking input from user
prices = input("Enter product prices separated by comma: ")

# Convert input string to list of integers
prices = prices.replace(",", " ").split()
prices = [int(price) for price in prices]

count = 0

# Compare each price with 1000
for price in prices:
    if price > 1000:
        count += 1

# Exact expected output format
print("Products above 1000:", count)

Enter product prices separated by comma: 2300,6700,500,897
Products above 1000: 2

## 5: Calculate Attendance Percentage

In [8]:
# Taking input from user
attendance = input("Enter attendance (P/A separated by comma): ")

# Convert input into list
attendance = attendance.replace(",", " ").split()

present_count = 0

# Count number of "P"
for day in attendance:
    if day == "P":
        present_count += 1

# Calculate percentage
percentage = (present_count / len(attendance)) * 100

# Exact expected output format
print("Attendance Percentage:", percentage)

Enter attendance (P/A separated by comma): P,A,P,P,P,P,P,P,A
Attendance Percentage: 77.77777777777779

## 6: Remove Duplicate Phone Numbers

In [9]:

# Taking input from user
phone_numbers = input("Enter phone numbers separated by comma: ")

# Convert input into list of integers
phone_numbers = phone_numbers.replace(",", " ").split()
phone_numbers = [int(number) for number in phone_numbers]

# Convert list to set to remove duplicates
unique_numbers = set(phone_numbers)

# Exact expected output format
print("Unique phone numbers:", unique_numbers)

Enter phone numbers separated by comma: 1010101010
Unique phone numbers: {1010101010}

## 7: Count Character Frequency

In [10]:
# Taking input from user
text = input("Enter a string: ")

frequency = {}

# Counting each character
for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

# Exact expected output format
print(frequency)

Enter a string: abcddedascciyursdd
{'a': 2, 'b': 1, 'c': 3, 'd': 5, 'e': 1, 's': 2, 'i': 1, 'y': 1, 'u': 1, 'r': 1}

## 8: Convert List to Tuple

In [11]:
# Taking input from user
numbers = input("Enter numbers separated by comma: ")

# Convert input into list of integers
numbers = numbers.replace(",", " ").split()
numbers = [int(num) for num in numbers]

# Convert list to tuple
numbers_tuple = tuple(numbers)

# Display result
print("Tuple:", numbers_tuple)

Enter numbers separated by comma: 23,45,67,89
Tuple: (23, 45, 67, 89)

## 9: Check if a Key Exists in a Dictionary

In [12]:
# Taking dictionary input from user
n = int(input("Enter number of employees: "))
employees = {}

for i in range(n):
    name = input("Enter employee name: ")
    salary = int(input("Enter salary: "))
    employees[name] = salary

# Key to check
key_to_check = input("Enter employee name to check: ")

# Using 'in' keyword
if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Enter number of employees: 3
Enter employee name: abc
Enter salary: 34000
Enter employee name: def
Enter salary: 35000
Enter employee name: pqr
Enter salary: 50000
Enter employee name to check: prs
Employee does not exist

## 10: Calculate Average Marks

In [13]:
# Taking input from user
marks = input("Enter marks separated by comma: ")

# Convert input into list of integers
marks = marks.replace(",", " ").split()
marks = [int(mark) for mark in marks]

total = 0

# Calculate sum manually
for mark in marks:
    total += mark

# Calculate average
average = total / len(marks)

# Exact expected output format
print("Average Marks:", average)

Enter marks separated by comma: 45,67,89,79,90,100
Average Marks: 78.33333333333333